.content {
  display: flex;
  max-width: 830px;
  margin-left: 8%;
}
.content__card {
  padding-left: 2%;
  text-align: justify;
}
.content__card-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 3.4em;
  text-align: justify;
}
.content__card-text {
  max-width: 738px;
  min-width: 350px;
}
.content__card-footer {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: end;
}
.content__card-subtext {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: calc(1.2 + 1em);
  max-width: 722px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .content {
    background-color: red;
    margin-left: 0;
  }
}
