@media screen and (max-width: 320px) {
  .content {
    width: 100vw;
    height: 100vw;
    margin-top: 485px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .content__card {
    display: flex;
    flex-direction: column;
  }
  .content__title {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
  }
  .content__text {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
  }
  .content__footer {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
  }
  .content__subtext {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
  }
}
